.home-section {
  background-color: rgb(232, 95, 36);
  padding: 50px 20px;
  color: yellow;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.coffee-shop-image {
  width: 500px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.welcome-message h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.welcome-message p {
  font-size: 24px;
}
